@import "tailwindcss";
@config "../tailwind.config.js";

:root{
  --primary: 422 20% 10%;
  --primary-foreground: 422 20% 20%;

  --secondary: 422 20% 20%;
  --secondary-foreground: 422 20% 20%;

  --background: 244 20% 20%;
  --foreground: 234 10% 10%;

  --border: 231 20% 20%;

  --muted: 213 20% 10%;
  --muted-foreground: 123 10% 10%;

  --component: 123 98% 10%;
  --component-foreground: 321 90% 98%;

  --radius: 0.75rem;

  --font-body: "Sans";
  --font-heading: "Sans"
}

.dark{
  --background: 123 20% 20%;
  --foreground: 243 10% 10%;
}